@import "../../sass/colors";
@import "../../sass/fonts";

.navigation {
  position: absolute;
  right: 0;
  z-index: 1;
  &__links {
    list-style-type: none;
    border-right: none;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: $blackTransparent6;
  }

  &__link {
    @include fontFamilyPoiretOne;
    text-align: center;
    font-size: 1.1rem;
    padding: 2rem 5rem;
    text-transform: uppercase;

    &:hover {
      background-color: $darkGrey2;
      cursor: pointer;
    }
  }
  &__favorites-number {
    font-family: Helvetica;
    color: $yellow;
    font-size: 1.3rem;
  }
}
